{
    "mcpServers":{
        "Picui": {
            "command": "python",
            "args": [
                "your_abs_dir/picui-image-upload-mcp/server.py"
            ],
            "env": {
                "PICUI_TOKEN": "your_token"
            }
        }
    }
}